@mixin btnTienda {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: black solid 3px;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;
}

.btnTienda {
    @include btnTienda;
    &:hover {
        background-color: bisque;
    }
}


@mixin imgLogoPrincipal {
    width: 55%;
    position: relative;
    top: 55px;
    left: -25px;

}

.imgLogo {
    @include imgLogoPrincipal;
    &:hover {
        background-color: bisque;
    }
}